<h1>Hello World</h1>


<%= form_for :scrapper, url: scrapper_scrap_path do |f| %>
  <p>
    <%= f.label :URL %><br>
    <%= f.text_field :url %>
  </p>
 
  <p>
    <%= f.submit :'Start Scrapping' %>
  </p>
<% end %>